@import './reset.css';
@import './colors.css';
@import './media.css';

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: normal;
  position: relative;
  color: var(--color-foreground);
  background: var(--color-background);
}

h1, h2, h3, h4, .header {
  color: var(--color-primary);
}

ul, ol {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  list-style-type: disc;
  list-style-position: inside; 
}

p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

a, button, input[type=button] {
  text-decoration: underline;
  color: var(--color-interactive-subtle);
  cursor: pointer
}

a:hover {
  color: var(--color-interactive);
}

a.router-link-active {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none
}

b {
  font-weight: bold;
}

noscript {
  display: block;
  text-align: center;
  color: var(--color-bad);
}